@font-face {
    font-family: 'mainfont';
    src: url('../fonts/mainfont.eot');
    src: url('../fonts/mainfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mainfont.woff') format('woff'),
         url('../fonts/mainfont.ttf') format('truetype'),
         url('../fonts/mainfont.svg#mainfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	outline:none !important;
}
*:focus{
	outline:none !important;
}
body{
	padding:0;
	margin:0;
	font-size:14px;
	background:url(../images/bg.jpg);
	font-family:Tahoma;
}
img{
	border:none;
}
a{
	border:none;
	text-decoration:none;
}
h1{
	font-family:mainfont;
	color:#333;
	font-weight:500;
	font-size:30px;
	margin:10px 0 0;
}
h2{
	font-family:mainfont;
	color:#0e6ee9;
	font-weight:500;
	font-size:30px;
	margin:10px 0 0
}
.fL{
	float:left;
}
header{
	border-bottom:2px solid #006cff
}
#header{
	width:100%;
	height:72px;
	background:#fff;
}
#header_inner{
	height:72px;
	margin:0 auto;
}
#header_logo{
	height:51px;
	margin:10px auto;
	float:left;
}
.sb-toggle-right{
	margin-top:15px;
	float:right
}
.topbar{
	background:#f8f8f8;
	padding:5px;
}
.search{
	display:inline-block;
	vertical-align:middle;
}
#header_search{
	float:right;
	width:418px;
	height:33px;
	background:url(../images/bg_topsearch.png);
}
#header_searchbox{
	width:280px;
	height:28px;
	float:left;
	padding:5px 0 0 15px;
	color:#fff;
}
#header_searchbox input[type=text]{
	margin-left:20px;
	width:150px;
	color:#000;
	border:none;
}
#header_searchbox input[type=submit]{
	width:20px;
	height:20px;
	margin:0;
	padding:0;
	border:none;
	vertical-align:middle;
	background:none;
	cursor:pointer
}
#header_facebook{
	padding:5px 10px;
	font-size:16px;
	display:inline-block;
	border-left:1px solid #ccc;
	vertical-align:middle;
}
#header_lang{
	height:20px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}

#header_lang a{
	padding:5px;
	background:#eee;
}
#nav{
	width:100%;
	overflow:hidden;
	background:#006cff;
}
#nav_inner{
	margin:0 auto;
	padding:0;
}
#nav_inner li{
	width:14%;
	height:36px;
	display:inline-block;
	list-style:none;
	padding:0;
	float:left;
}
#nav_inner li:first-child{
	margin-left:10px;
}
#nav_inner li > a{
	font-family:mainfont;
	width:100%;
	height:36px;
	text-align:center;
	color:#fff;
	font-size:24px;
	line-height:36px;
	background:url(../images/nav.jpg) top center;
	background-size:cover;
	display:inline-block;
}
#nav_inner li > a:hover{
	background:url(../images/nav.jpg) bottom center;
	background-size:cover;
}
#container{
	width:880px;
	background:#fff;
	overflow:hidden;
	margin:0 auto;
	padding:15px 40px;
}
.main .container{
	background:#fff;
}
#slider{
	margin:0 -15px;
}
@media(min-width:768px){
	#slider{
		margin:auto;
	}
}
#main{
	width:100%;
	overflow:hidden;
}
.cat_sec{
	width:100%;
	overflow:hidden;
}
.pro_sec{
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:3px double #9f8633;
}
.propage{
	text-align:right;
	font-size:12px;
	padding:5px;
}
.propage a{
	color:#666;
	padding:2px;
}
.propage a:hover{
	color:#006cff;
}
.home-category{
	margin-bottom:20px;
}
.home-category h2{
	width:100%;
	height:42px;
	line-height:30px;
	background:url(../images/bg_htxt.png);
	background-size:cover;
	text-indent:50px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.home-category h2 span{
	font-size:24px;
}
.product_box{
	width:100%;
	height:200px;
	border:1px solid #ccc;
	margin:10px auto;
	position:relative;
}
.product_bottom{
	width:100%;
	height:8px;
	background:url(../images/pro_bg.png) center no-repeat;
	background-size:cover;
	position:absolute;
	bottom:-8px;
	left:0;
}
.product_box .propic{
	width:100%;
	height:150px;
	position:relative;
	background:#000;
	text-align:center;
}
.propic img{
	margin:auto
}
.crop{
	background:url(../images/crop_pic.png) bottom center;
	background-size:cover;
	width:100%;
	height:39px;
	position:absolute;
	bottom:-7px;
	left:0;
}
.propic img{
	max-width:100%;
	max-height:100%;
}
.product_box  .prodetail{
	padding:10px;
	font-size:12px;
	overflow:hidden;
	color:#666;
	white-space:nowrap
}
.product_box  .prodetail a{
	white-space:nowrap;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#0e6ee9;
}
.product_box  .prodetail a:hover{
	color:#039
}
footer{
	width:100%;
	background:#006cff;
	overflow:hidden;
}
@media(min-width:768px){
	footer{
		background:#006cff url(../images/bg_footer.jpg) repeat-x;
	}
}
#footer_inner{
	margin:auto;
	
}
.footerT{
	
	overflow:hidden;
	padding:3px 5px;
	font-size:20px;
	line-height:20px;
	font-family:mainfont;
	color:#fff;
}
@media(min-width:992px){
	.footerT{
		padding:0;
		background:none;
		height:44px;
	}
}

.footerT a{
	color:#fff;
}
.footerT a:hover{
	color:#ccc;
	text-decoration:none
}
.footerT > a + a:before{
	content:" / "
}

.footerB{
	max-width:883px;
	margin:auto;
	color:#fff;
	background:url(../images/footer_bottom.png) no-repeat;
	overflow:hidden;
}
.footerBL{
	float:left;
	width:284px;
	padding-top:68px;
	line-height:20px;
	font-size:20px;
	font-family:mainfont
}
.footerBC{
	width:315px;
	margin:0;
	float:left;
}
@media(min-width:768px){
	.footerBC{
		margin:0 0 0 48px;
	}
}
.footerBC a{
	color:#fff;
	font-weight:bold
}
.footerBC .location{
	font-size:12px;
	font-weight:bold;
	height:32px;
	margin:10px 0 25px;
}
.footerBC .mobile{
	float:left;
	padding-left:30px;
	font-size:12px;
}
.footerBC .mail{
	float:left;
	padding-left:75px;
	font-size:12px
}
.footerBR{
	margin:7px 5px 5px;
	font-size:11px;
	width:88px;
	color:#666;
	float:right;
}
.footerBR b{
	color:#0062e8;
	width:90px;
	overflow:hidden;
	padding-bottom:1px;
	display:block;
}
.footerRight{
	clear:both;
	padding:5px;
	margin-top:10px;
	font-size:10px;
	text-align:center;
	color:#fff;
	border-top:1px dashed #fff;
}
@media(min-width:992px){
	.footerRight{
		margin-top:5px;
		padding:3px;
	}
}
/*Category*/
.cate_list{
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0;
}
.cate_list li{
	width:30%;
	height:50px;
	margin:5px 1.5%;
	float:left;
	list-style:none;
	background:#f6f6f6;
}
.cate_list li a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	line-height:50px;
	font-family:mainfont;
	font-size:30px;
}
.cate_list li a:hover{
	background:#0e6ee9;
	color:#fff;
}

/*Detail*/
.proD_img{
	width:100%;
	height:auto;
	margin:20px 0;
	text-align:center;
}
.proD_img .col-sm-6{
	margin-bottom:10px;
}
.proD_contents{
	overflow:hidden;
	padding:15px;
	margin:20px auto;
	background:#f8f8f8;
	border:2px solid #eee
}
.proD_contents dl{
	margin-bottom:0
}
.proD_contents dd{
	border-bottom:1px dashed #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
}
.proD_contents dd:last-child{
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
.proD_htxt{
	width:100px;
	margin:0 0 5px 0;
	padding:5px;
	float:left;
	text-align:right;
	font-weight:bold;
}
.proD_txt{
	margin:0 0 5px 120px;
}
/*Zoom*/
.round-loope{
   border-radius: 75px;
   border: 5px solid #F0F0F0;
}
.pro_sec table td{
	border-top:1px solid #ccc;
}
/*.pro_sec input[type=text],.pro_sec input[type=tel],.pro_sec input[type=email],.pro_sec textarea{
	width:250px;
	padding:3px 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border:1px solid #ccc;
}*/
.pro_sec input[type=submit],.pro_sec input[type=reset]{
	background:#0062e8;
	border:none;
	color:#fff;
	padding:5px 15px;
	font-family:mainfont;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.contact{
	padding:15px;
	margin:0 0 0 15px;
	background:#f8f8f8
}
.conD_sec{
	padding-top:20px;
	line-height:1.6
}
.conD_sec table{
	width:80%
}
.conD_sec p{
	text-indent:50px;
}
.conD_sec ul li{
	font-size:12px;
}
.conD_sec ul li a:hover{
	text-decoration:underline
}
@media(min-width:768px){
	#sb-site, .sb-site-container{
		background:none;
	}
}
.owl-item img{
	margin:auto;
}
.pro_sec .owl-item{
	padding:5px;
}
.sb-slidebar {
	color:#fff;
}
.sb-slidebar #nav_inner{
	width:100%;
}
.sb-slidebar .mobile-lang{
	width:100%;
	padding:5px;
	overflow:hidden;
	background:#111
}
.sb-slidebar .mobile-lang a{
	padding:10px;
	background:#333;
	display:inline-block;
	color:#fff
}
.sb-slidebar .mobile-lang a.active{
	background:#0062e8;
}
.lang-txt{
	padding-top:10px;
	white-space:nowrap
}

.sb-slidebar #nav_inner li{
	width:100%;
	margin:0 auto;
	height:auto;
}
.sb-slidebar #nav_inner li > a{
	background:#222;
	padding:10px 20px;
	height:auto;
	border-top:1px solid #333;
	border-bottom:1px solid #111;
	text-align:left;
	font-size:30px;
	border-left:3px solid #0062e8
}

.contactus .pro_sec{
	padding:20px 30px;
}
.banner .container{
	background:#fff;
}
.banner728{
	margin:15px auto;
}
.banner728 img{
	background:#fff url('/assets/images/banner728x90.jpg');
	margin:auto;
	box-shadow:0px 0px 2px #999
}

@media (min-width:728px){
	.banner728 img{
		border:5px solid #fff;
	}
}